@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply m-0;
  }
}

@layer utilities {
  .transition-opacity {
    transition-property: opacity;
  }
  .duration-2000 {
    transition-duration: 2000ms;
  }
  .opacity-0 {
    opacity: 0;
  }
  .opacity-100 {
    opacity: 1;
  }
}

.gem {
  position: absolute;
  width: 20px; /* Adjust size as needed */
  height: 20px;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  z-index: 30;
}

.glow::before {
  content: '';
  @apply absolute inset-0 pointer-events-none;
  background: linear-gradient(
    to top,
    rgba(58, 123, 213, 0.75) 0%,
    transparent 100%
  );
}
